{extend name="index"/}
{block name="title"}
中心组织机构
{/block}
{block name="content"}

<div class="test" style="margin: -40px 10px 10px 0px;">
  <div class="text-center" id="myhead">
    <h1>中心概况</h1><i>ZHONG XIN GAI KUANG</i>
  </div>&nbsp;
  <ul>
    <li><a :hover:not href="{:url('Introduce/index')}">中心简介</a></li>
    <li><a :hover:not href="{:url('Teacher/index')}">中心师资</a></li>
    <li><a :hover:not href="{:url('Rule/index')}">规章制度</a></li>
    <li><a class="active" :hover:not href="{:url('Centre/index')}">中心组织机构</a></li>
  </ul>
</div>

<form action="{:url('Centre/upload')}" enctype="multipart/form-data" method="post" style="margin: -280px -40px 120px 230px;">
  {volist name="centres" id="_centre" key="key"}
  <img src="{$_centre->getData('content')}" width="930" height="480">
  <input type="file" name="image"/>
  <br>
  <input type="submit" value="Submit"/> 
  {/volist}
</form>

    {/block}