{extend name="index2"} 
{block name="content"}
    <div class="row">
        <div class="col-sm-2">
            <div class="text-center">
                <h1>中心概况</h1>
            </div>
            <u1 class="nav nav-pills nav-stacked">
                <li><a href="{:url('introduce/index2')}">中心简介</a></li>
                <li><a href="{:url('teacher/index2')}">中心师资</a></li>
                <li><a href="{:url('rule/index2')}">规章制度</a></li>
                <li class="active"><a href="{:url('centre/index2')}">中心组织机构</a></li>
            </u1>
        </div>
        <div class="col-sm-10">
            <h2 class="text-center">中心组织机构</h2>
            <form action="{:url('Centre/upload')}" enctype="multipart/form-data" method="post" style="margin: 100px 0px 0px 180px;">
                {volist name="centres" id="_centre" key="key"}
                <img src="{$_centre->getData('content')}" width="800" height="400">
                {/volist}
              </form>
        </div>
    </div>
{/block}