{extend name="edit"} 
{block name="title"}
{eq name="Create->id" value=""}添加{else /}编辑{/eq}
{/block}
{block name="content"}
    {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
    <form action="{:url($action)}" method="post" style="margin: 80px 310px 80px 320px;">
        <div class="form-group">
            <input type="hidden" name="id" value="{$Create->getData('id')}" />
            <label for="content">简介：</label>
            <textarea class="form-control" type="text" name="content" id="content" rows="3" style="height: 400px;">{$Create->content}</textarea>           
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 8px 0px 10px 530px;">Submit</button>
      </form>
{/block}