{extend name="index2"} 
{block name="content"}
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <h1>实验教学</h1>
            </div>
            <u1 class="nav nav-pills nav-stacked">
                <li><a href="{:url('idea/index2')}">实验教学理念</a></li>
                <li><a href="{:url('lab/index2')}">专业实验场所</a></li>
                <li class="active"><a href="{:url('create/index2')}">创新创业实验</a></li>
                <li><a href="{:url('video/index2')}">视频资源下载</a></li>
            </u1>
        </div>
        <div class="col-sm-9">
            <h2 class="text-center">创新创业实验</h2>
        </div>
    </div>
{/block}