{extend name="index"/}
{block name="title"}
创新创业实验
{/block}
{block name="content"}

<div class="test" style="margin: 10px 10px 10px 0px;">
  <div class="text-center" id="myhead">
    <h1>实验教学</h1><i>SHI YAN JIAO XUE</i>
  </div>&nbsp;
  <ul>
    <li><a :hover:not href="{:url('Idea/index')}">实验教学理念</a></li>
    <li><a :hover:not href="{:url('Lab/index')}">专业实验场所</a></li>
    <li><a class="active" :hover:not href="{:url('Create/index')}">创新创业实验</a></li>
    <li><a :hover:not href="{:url('Video/index')}">视频资源下载</a></li>
  </ul>
</div>

<div class="col-md-11 dropdown card" style="margin: -280px 90px 100px 225px;">
{volist name="creates" id="_create" key="key"}
  <h2><a class="text-decoration">创新创业实验</a></h2>
  <textarea style="width: 890px; height: 550px; padding: 15px;">{$_create->getData('content')}</textarea>
  <div style="margin: 25px 0px 0px 800px;">
    <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_create->getData('id'))}">
      <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
    </a>
  </div>
{/volist}
</div>


{/block}
{block name="page"}
    {$creates->render()}
{/block}