{extend name="index"/}
{block name="title"}
中心简介
{/block}
{block name="content"}

<div class="test">
  <ul>
    <li><a class="active" :hover:not href="{:url('Introduce/index')}">中心简介</a></li>
    <li><a :hover:not href="{:url('Teacher/index')}">中心师资</a></li>
    <li><a :hover:not href="{:url('Rule/index')}">规章制度</a></li>
    <li><a :hover:not href="{:url('Centre/index')}">中心组织机构</a></li>
  </ul>
</div>

<div class="col-md-11 dropdown card" style="margin: 45px 100px 100px 170px;">
{volist name="introduces" id="_introduce" key="key"}
  <h2><a class="text-decoration">中心简介</a></h2>
  <textarea style="width: 975px; height: 350px; padding: 15px;">{$_introduce->getData('content')}</textarea>
  <div style="margin: 25px 0px 0px 900px;">
    <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_introduce->getData('id'))}">
      <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
    </a>
  </div>
{/volist}
</div>


{/block}
{block name="page"}
    {$introduces->render()}
{/block}