{extend name="index2"}
{block name="content"}
<div class="row">
    <div class="col-sm-2">
        <div class="text-center" id="myhead">
            <h1>
                新闻简讯
            </h1>
            <i>
                XIN WEN JIAN XUN
            </i>
        </div>
    </div>
    <div class="col-sm-10">
        <div style="text-align: right;">
            <a href="{:url('news/index2')}">返回新闻简讯</a>
        </div>
        <br>
        <h2 class="text-center">
            <b>
                <?php echo $newsDetail['title']; ?>
            </b>
        </h2>
        <hr>
        <p class="text-right">
            作者：<?php echo $newsDetail['writer']; ?>
            &nbsp;&nbsp;
            发布时间：<?php echo $newsDetail['create_time']; ?>
        </p>
        <br>        
        <pre style="white-space:pre-wrap;font-size: 18px;">
            <?php echo $newsDetail['content1']; ?>
            &nbsp;
            <?php echo $newsDetail['content2']; ?>
            &nbsp;
            <?php echo $newsDetail['content3']; ?>
            <br>
            <div style="text-align:center">
                <img src="<?php echo $newsDetail['image1']; ?>" style="width:300px;height:250px;object-fit:cover;">
                <img src="<?php echo $newsDetail['image2']; ?>" style="width:300px;height:250px;object-fit:cover;">
            </div>
        </pre>
        <br>
        <?php
            if(isset($previousTitle)):
        ?>
            <a href="<?php echo url('index/newsDetail',['id'=>$previousNews['id']]);?>">
                上一条：<?php echo $previousTitle; ?>
            </a>
        <?php
            endif;
        ?>
        <br>
        <?php
            if(isset($nextTitle)):
        ?>
            <a href="<?php echo url('index/newsDetail',['id'=>$nextNews['id']]);?>">
                下一条：<?php echo $nextTitle; ?>
            </a>
        <?php
            endif;
        ?>
    </div>
</div>
{/block}