{extend name="index2"}
{block name="content"}
<div class="row">
    <div class="col-sm-2">
        <div class="text-center" id="myhead">
            <h1>
                视频资源
            </h1>
            <i>
                SHI PIN ZI YUAN
            </i>
        </div>
    </div>
    <div class="col-sm-10">
        <div style="text-align: right;">
            <a href="{:url('video/index2')}">
                返回视频下载
            </a>
        </div>
        <hr>
        <p style="font-size:18px">
            <?php echo $videoDetail['content']; ?>
        </p>
        <i>
            <a href="<?php echo $videoDetail['location']; ?>" ?>
                点击此处查看
            </a>
        </i>
        <br>
        <div style="text-align: left;">
            <?php
                if(isset($previousContent)):
            ?>
                <a href="<?php echo url('index/videoDetail',['id'=>$previousVideo['id']]);?>">
                    上一条：<?php echo $previousContent; ?>
                </a>
            <?php
                endif;
            ?>
            <br>
            <?php
                if(isset($nextContent)):
            ?>
                <a href="<?php echo url('index/videoDetail',['id'=>$nextVideo['id']]);?>">
                    下一条：<?php echo $nextContent; ?>
                </a>
            <?php
                endif;
            ?>
        </div>
    </div>
    </div>
</div>
{/block}