{extend name="index2"}
{block name="content"}
<div class="row">
    <div class="col-sm-2">
        <div class="text-center" id="myhead">
            <h1>失物招领</h1><i>SHI WU ZHAO LING</i>
        </div>
    </div>
    <div class="col-sm-10">
        <hr>
        <div id="mylist" style="width: 975px; height: 350px; padding: 15px;">
            <?php foreach($lostList as $lost): ?>
                <p class="border-style"><span><?php echo $lost['create_time']; ?></span>
                <a href="<?php echo url('index/lostDetail',['id'=>$lost['id']]);?>">><?php echo $lost['name']; ?>在<?php echo $lost['place']; ?>被捡拾，
                    现放在<?php echo $lost['location']; ?>,联系电话：15233839679</a></p>
            <?php endforeach; ?>
        </div>
        {$lostList->render()}
    </div>
</div>
{/block}