{extend name="index2"}
{block name="content"}
<div class="row">
    <div class="col-sm-2">
        <div class="text-center" id="myhead">
            <h1>资料下载</h1><i>ZI LIAO XIA ZAI</i>
        </div>
    </div>
    <div class="col-sm-10">
        <hr>
        <div style="width: 975px; height: 350px; padding: 15px;">
            {volist name="downloads" id="_download" key="key"}                                   
                <p class="border-style"><a href="#">>{$_download->getData('content')}</a></p>
            {/volist}
        </div>
    </div>
</div>
{/block}