{extend name="index2"}
{block name="content"}
<div class="row">
    <div class="col-sm-2">
        <div class="text-center" id="myhead">
            <h1>新闻简讯</h1><i>XIN WEN JIAN XUN</i>
        </div>
    </div>
    <div class="col-sm-10">
        <hr>
        <div id="mylist" style="width: 975px; height: 350px; padding: 15px;">
            <?php foreach($paginatedNews as $news): ?>
                <p class="border-style"><span><?php echo $news['create_time']; ?></span><a href="<?php echo url('index/newsDetail',['id'=>$news['id']]);?>">><?php echo $news['title']; ?></a></p>
            <?php endforeach; ?>
        </div>
    </div>
</div>
{/block}