{extend name="index"/}
{block name="title"}
规章制度
{/block}
{block name="content"}

<div class="test" style="margin: 10px 0px 0px 0px;">
  <div class="text-center" id="myhead">
    <h1>中心概况</h1><i>ZHONG XIN GAI KUANG</i>
  </div>&nbsp;
  <ul>
    <li><a :hover:not href="{:url('Introduce/index')}">中心简介</a></li>
    <li><a :hover:not href="{:url('Teacher/index')}">中心师资</a></li>
    <li><a class="active" :hover:not href="{:url('Rule/index')}">规章制度</a></li>
    <li><a :hover:not href="{:url('Centre/index')}">中心组织机构</a></li>
  </ul>
</div>

<div class="col-md-11 dropdown card" style="margin: -280px 0px 120px 225px;">
    {volist name="rules" id="_rule" key="key"}
      <h3><a class="text-decoration" id="{$_rule->getData('id')}">{$_rule->getData('name')}</a></h2>
      <textarea style="width: 890px; height: 600px; padding: 15px;">{$_rule->getData('content')}</textarea>
      <div style="margin: 25px 0px 0px 800px;">
        <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_rule->getData('id'))}">
          <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
        </a>
      </div>
    {/volist}
    </div>
    
    
    {/block}
    {block name="page"}
        {$rules->render()}
    {/block}